* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
figure,
video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
}