* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
figure,
video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    overflow-x: hidden;
    background-color: var(--tertiary-color);
}


#app {
    overflow-x: hidden;
  }

  h2 {
    color: var(--primary-color);
  }


  .icon {
    color: var(--primary-color);
  }

  .btn {
    padding: .5rem 1rem;
    z-index: 5;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
    background-color: var(--senary-color);
    color: var(--secondary-color);
    &:hover {
        filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.571));
      }
  }

  .title {
    color: var(--quinary-color);
  }

  .text-color {
    color: var(--quaternary-color);
  }

/* --- Responsive --- */
@media (min-width: 1024px) {
    body {
        overflow-y: hidden;
    }
    #app  {
        overflow-y: hidden;
    }

}
