:root {
  // --nav-position: 0;
  --primary-color: rgba(72, 199, 142, 0.678); /* icon  */
  --secondary-color: rgb(255, 255, 255);    /* bg */
  --tertiary-color: rgb(37, 37, 37);    /* header */
  --quaternary-color: rgb(0, 0, 0);        /* text */
  --quinary-color: rgb(16, 193, 107);        /* title */
  --senary-color: rgb(9, 93, 157);     /* btn */
  
  --border-color: rgb(197, 196, 196); /* #c5c4c4 */
  --svg-color: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%, rgba(255, 235, 59, 1) 100%);
  --primary-color-hover: rgba(var(--primary-color), , 0.278);

  --border: 1px solid var(--border-color);
  --border-radius: 15px;
  --border-radius-sm: 8px;
  --box-shadow: 0px 0px 3px 0px var(--tertiary-color);
  --radius-100: 100px;
  --transition: all 0.3s ease-in-out;
  --padding-mobile-components: 8rem;

}
